# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# automake
Makefile
Makefile.in
autom4te.cache
config.*
depcomp
install-sh
missing
configure
aclocal.m4
.deps
INSTALL
compile
test-driver
.dirstamp

# unittest
test-suite.log
unit_tests
unit_tests.log
unit_tests.trs

# coverage test
*.gcda
*.gcno
*.gcov
libbash_test.info
test_coverage/

# Output
*.BETA
*.TABLE

# Build
lasso
lasso_dbg
lasso_prof
lint_tmp
